.invert{
    filter: invert(100%);
}

.darken{
    filter: brightness(50%);
}

.lighten{
    filter: brightness(130%);
}

.image-cover{
    object-fit: cover;
    background-size: cover; 
    background-position: center;
}

.center {
    background-position: center center;
    position: relative;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #ffda3e;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }


  .center {
    left: 50%;
    margin-left: -25%;
    top: 20%;
  }

  .parallax {


    position:fixed;
  }