.icon-host {
    background-image: url("C:/Luis Oswaldo/TEC/Semestres/4to-Semestre/Req/P2/Programa/Req-Proyecto2-HostInn/HostInn/public/css/custom.css") !important;

    background-position: center center;
    background-size: cover;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.icon-car {
    background-image: url("http://cdn5.iconfinder.com/data/icons/Symbolicons_Transportation/24/Car.png");
    background-position: center center;
    background-size: cover;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.logo-host{
    background-image: url("C:/Luis Oswaldo/TEC/Semestres/4to-Semestre/Req/P2/Programa/Req-Proyecto2-HostInn/HostInn/public/css/custom.css") !important;
    src: url("public/assets/hostInn.svg") !important;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.yellow-background-text {
    background-color: yellow;
  }