<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrarse</p>

                                    <!--Aqui manejamos el REGISTRO-->
                                    <form method="post" action="/register" class="mx-1 mx-md-4 registerForm">

                                        <div class="d-flex flex-row align-items-center mb-2">

                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" id="form3Example1c" name="nombre"
                                                    class="form-control" placeholder="Nombre Completo" />
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" id="form3Example1c" name="user" class="form-control"
                                                    placeholder="Nombre De Usuario" />
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="email" id="form3Example3c" name="email"
                                                    class="form-control" placeholder="Correo Electronico" />
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" id="form3Example2c" name="country"
                                                    class="form-control" placeholder="Nacionalidad" />
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" id="form3Example4c" name="password"
                                                    class="form-control" placeholder="Contraseña" />
                                            </div>
                                        </div>


                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" id="form3Example4cd" name="card_num"
                                                    class="form-control" placeholder="Numero de tarjeta" />
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <div class="form-outline flex-fill mb-0">
                                                <div class="row">
                                                    <div class="col-6">

                                                        <input type="text" id="form3Example4cd" name="code"
                                                            class="form-control" placeholder="Codigo Seguridad" />

                                                    </div>
                                                    <div class="col-3">
                                                        <input type="number" name="month" placeholder="MM" maxlength="2"
                                                            size="2" class="form-control" />


                                                    </div>

                                                    <div class="col-3">
                                                        <input type="number" name="year" placeholder="YY" maxlength="2"
                                                            size="2" class="form-control" />

                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="d-flex justify-content-center mb-3 mb-lg-4">
                                            <button type="submit"
                                                class="flex-fill btn btn-primary btn-lg registerButton">Register</button>
                                        </div>

                                    </form>


                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-6  align-items-center order-1 order-lg-2">


                                    <div class="row">

                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Inicio de Sesión</p>


                                        <!--Aqui manejamos el LOGIN-->
                                        <form method="post" action="/login" class="mx-1 mx-md-4 LoginForm">

                                            <div class="d-flex flex-row align-items-center mb-2">

                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example1c" name="user"
                                                        class="form-control" placeholder="Nombre De Usuario" />
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-2">

                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="form3Example1c" name="password"
                                                        class="form-control" placeholder="Password" />
                                                </div>
                                            </div>


                                            <div class="d-flex justify-content-center mb-3 mb-lg-4">
                                                <button type="submit"
                                                    class="flex-fill btn btn-primary btn-lg loginButton">Entrar</button>
                                            </div>

                                        </form>
                                    </div>

                                    <div class="row">
                                        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png"
                                            class="img-fluid" alt="Sample image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

<script>
    $('button.registerButton').click( function() {
        $('form.registerForm').submit();
    });
    $('button.loginButton').click( function() {
        $('form.loginForm').submit();
    });
</script>

</html>