<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-image: url(http://localhost:3000/public/assets/mountain.jpg);">

    <!-- navbar-->
    <%- include('../partials/header',{user : user}); %>

        <div style="height: 54px;"> </div>

        <div class="container-fluid">
            <div class="row" style="display: flex; justify-content: space-between;">
                <div class="col-6" style="flex-basis: 50%; box-sizing: border-box;">
                    <div class="card shadoww mx-4 mb-3 mt-5 pt-3 bg-dark px-3 pb-4">
                        <h4 class="text-light display-4"> Reservar <%= habitacion.Nombre %>
                        </h4>
                        <form  method="post" action="/reservacion">
                            <div class="form-row">

                                <div class="form-group col pb-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="text-primary" for="inputEmail4">Fecha llegada:</label>
                                            <input type="date" class="form-control" id="inputEmail4" name="llegada"
                                                placeholder="llegada">
                                        </div>
                                        <div class="col-6 text-right">
                                            <label class="text-primary text-right" for="inputEmail4">Fecha
                                                salida:</label>
                                            <input type="date" class="form-control" id="inputEmail4" name="salida"
                                                placeholder="llegada">
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group col pb-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="text-primary" for="inputEmail4">Adultos:</label>
                                            <input type="number" min="0" value="0" class="form-control" id="inputEmail4" name="adultos"
                                                placeholder="00">
                                        </div>
                                        <div class="col-6 text-right">
                                            <label class="text-primary text-right" for="inputEmail4">Niños:</label>
                                            <input type="number" min="0" value="0" class="form-control" id="ninos" name="ninos"
                                                placeholder="00">
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group col pb-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="text-primary" for="inputEmail4">Cantidad habitaciones:</label>
                                            <input type="number" min="0" class="form-control" id="inputEmail4" name="cantidad"
                                                placeholder="00">
                                        </div>
                                        <div class="col-6 text-right" id="columnaNinos">
                                            <label class="text-primary text-right" for="inputEmail4">Edades de
                                                Niños:</label>

                                        </div>
                                    </div>

                                </div>

                            </div>

                            <button type="submit" class="btn btn-primary">Reservar</button>
                        </form>
                    </div>
                </div>
                <div class="col-6" style="flex-basis: 50%; box-sizing: border-box; overflow: hidden;">


                    <img src='https://picsum.photos/200/300' class="mx-4 mb-3 mt-5 shadoww img-fluid rounded"
                        style="height: 83vh; width: 93vh;"></img>


                </div>
            </div>
        </div>

        <!-- Footer-->
        <%- include('../partials/footer'); %>

<script>
    $('#ninos').change(function () {
        console.log(this.value)
        $('#columnaNinos input.form-control').remove();
        for (var i = 1; i <= this.value; i++) {
            $('#columnaNinos').append(
                '<input type="number" value="0" "min="0" max="17" class="form-control mb-2" name="edad-' + i + '" required>'
            );
        }
    });
</script>

</body>

</html>